body {
  font-family: 'nanumsquar';
}

.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.list {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: rgb(217, 217, 217);
}

h4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  display: inline;
  align-items: flex-start;
  margin-left: 15px;
}

ul {
  margin: 0;
  padding: 0;
}
